.card {
    width: 23.5625rem;
    height: 23.5625rem;
    box-sizing: border-box;
    background-color: rgba(13, 104, 16, 0.5);
    box-shadow: 0 0 0 0.3125rem #B2D0B2;
    border-radius: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}
